<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            {{ hello }}

            <br>
            <br>

            <span style="background-color: bisque;" v-bind:title="message">
                ここをホバーリングしてると、注釈みたいなの出てくるよん
            </span>

            <br>
            <br>

            <span v-if="seen">Now you see me</span>

            <br>
            <br>

            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
    </body>
</html>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            hello: 'こんにちは！！',
            message: 'You loaded this page on ' + new Date().toLocaleString(),
            seen: true,
            todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
            ]
        }
    })
</script>

